---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Future Apps Academy',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Enroll today',
        href: 'https://buy.stripe.com/eVaeXk4NHfE4bbWaEE',
        target: '_blank',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Coding for your future with <span class="hidden xl:inline"> </span>
      <span class="text-accent dark:text-white highlight"> Future Apps Academy</span> bootcamp.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Future Apps Academy</span> is a bootcamp empowering high school students to learn app
        development with experienced industry leaders.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Create an app with our 2-week bootcamp and gain app building skills and a development community forever.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Future Apps Academy"
    subtitle="An immersive and dynamic learning experience where high school students can learn to build iOS apps in just two weeks, guided by industry leaders. Most engaging and innovative app development program for young learners."
    items={[
      {
        title: 'Comprehensive iOS App Development Curriculum',
        description:
          'A well-rounded curriculum that covers everything from basic programming principles to advanced app development, tailored specifically for high school students.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Hands-on Learning Experience',
        description:
          'Students will build their own applications using cutting-edge technologies under the guidance of experienced developers.',
        icon: 'tabler:components',
      },
      {
        title: 'Industry Best Practices',
        description:
          'Learn directly from professionals about best practices in coding, app design, and deployment to ensure the creation of high-quality, efficient applications.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Accelerated Learning Process',
        description:
          'A fast-paced, intensive learning schedule designed to teach app building skills efficiently, maximizing learning outcomes within two weeks.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Career Readiness and Networking',
        description:
          'Opportunities for students to connect with tech industry leaders, enhancing their career readiness and building a professional network from an early age.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Innovation and Creativity',
        description:
          'Encourages creativity and innovation, allowing students to explore new ideas and bring unique app concepts to life during the program.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside Academy"
    title="Future Apps Academy's Blueprint: Education Meets Innovation!"
    items={[
      {
        title: 'Focused on Modern App Development',
        description:
          'Leveraging current trends and technologies to teach students how to develop applications effectively.',
      },
      {
        title: 'Instructed by Industry Leaders',
        description:
          'Students gain firsthand experience and insights from seasoned professionals in the app development sector.',
      },
      {
        title: 'Real-World Project Exposure',
        description:
          'Participants work on real-life projects, ensuring they understand the nuances of creating functional and effective applications.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive edge by learning and applying cutting-edge development practices from the get-go.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Newsletter"
    information={`New updates can be found below.
                        Each new article will be an important step that you will need to know to be an expert in creating apps.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the programs with Future Apps Academy and how it can elevate your app development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Future Apps Academy?',
        description:
          'Future Apps Academy offers high-quality app development bootcamps that teaches stuents real-world app development skills, allowing coders to build their first app within just a couple weeks.',
      },
      {
        title: 'How do I get started?',
        description: 'Get started by clicking the sign up button where you will be able to join us and learn more.',
      },
      {
        title: 'How long is the bootcamp?',
        description: 'The bootcamp will be two weeks long.',
      },
      {
        title: 'What will students be able to do after the bootcamp?',
        description:
          'Students will be able to create an app of their choice with dynamic features ranging from games, productivity software, and more.',
      },
      {
        title: 'Where will the bootcamp take place?',
        description:
          'The bootcamp will take place on the Georgia Tech campus, with the speciifc rooms given after registration.',
      },
      {
        title: 'Why should I learn app development?',
        description:
          'App development allows people to gain agency over their ideas, since the future of technology relies on the next generation being able to work and build technology in every industry.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Students', amount: '500+' },
      { title: 'Instructors', amount: '100+' },
      { title: 'Impact', amount: 'Invaluable' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Learn More',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Future Apps Academy</span>
    </Fragment>

    <Fragment slot="subtitle"> Join us today to get started on your app development journey! </Fragment>
  </CallToAction>
</Layout>
