---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Contact from './contact.astro';

const metadata = {
  title: 'Future Apps Academy',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Enroll today',
        href: 'https://aqv0dow2vek.typeform.com/to/fDDDgSPV',
        target: '_blank',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Coding for your future with <span class="hidden xl:inline"> </span>
      <span class="text-accent dark:text-white highlight"> Future Apps Academy</span>.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Future Apps Academy</span> offers iOS App Development bootcamps empowering high school
        students to learn app development with experienced iOS developers. Come learn app building skills and join a development
        community forever.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Future Apps Academy"
    subtitle="An immersive and dynamic learning experience where high school students can learn to build iOS apps in just a few weeks, guided by experienced iOS developers."
    items={[
      {
        title: 'Introduction to iOS App Development',
        description:
          'A well-rounded curriculum that introduces students to programming principles and app development, tailored specifically for high school students.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Hands-on Project Experience',
        description:
          'Students will develop their own basic applications using modern technologies under the guidance of experienced developers.',
        icon: 'tabler:components',
      },
      {
        title: 'Foundational Coding Skills',
        description:
          'Learn the essential coding skills and best practices in app design and deployment to ensure a solid start in app development.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Intensive Learning Schedule',
        description:
          'A fast-paced learning schedule designed to teach essential app-building skills and provide a rewarding first experience in coding.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Career Readiness and Networking',
        description:
          'Opportunities for students to connect with tech industry leaders, enhancing their career readiness and building a professional network from an early age.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Encouragement of Innovation and Creativity',
        description:
          'Encourages creativity and innovation, allowing students to explore new ideas and bring their unique app concepts to life during the program.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    isReversed
    tagline="Inside Academy"
    title="Future Apps Academy's Blueprint: Education Meets Innovation!"
    items={[
      {
        title: 'Focused on Modern App Development',
        description:
          'Leveraging current trends and technologies to teach students how to develop applications effectively.',
      },
      {
        title: 'Instructed by Industry Leaders',
        description:
          'Students gain firsthand experience and insights from seasoned professionals in the app development sector.',
      },
      {
        title: 'Real-World Project Exposure',
        description:
          'Participants work on real-life projects, ensuring they understand the nuances of creating functional and effective applications.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive edge by learning and applying cutting-edge development practices from the get-go.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more in our Newsletter"
    ,
    information=`Stay updated with the latest from Future Apps Academy.
                        We share the story of why we started Future Apps Academy and our mission to inspire the next generation of developers.
                  `
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the programs with Future Apps Academy and how it can elevate your app development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Future Apps Academy?',
        description:
          'Future Apps Academy offers high-quality app development bootcamps that teach students real-world app development skills, allowing them to build their first app within just a short period. App development allows people to gain agency over their ideas and is essential as technology continues to evolve.',
      },
      {
        title: 'How long is the bootcamp?',
        description: 'The bootcamp will be either one or two weeks long, depending on the specific program.',
      },
      {
        title: 'Where will the bootcamp take place?',
        description:
          'The bootcamp will take place on the Georgia Tech campus, with specific rooms provided after registration.',
      },
      {
        title: 'How do I get started?',
        description: 'Get started by clicking the enroll button where you will be able to join us and learn more.',
      },
      {
        title: 'What will students be able to do after the bootcamp?',
        description:
          'Students will gain the foundational skills needed to create a basic app and will be equipped with the motivation and knowledge to continue learning and building projects independently.',
      },
      {
        title: 'What prior experience do I need?',
        description:
          'No prior experience is required. Our bootcamp is designed for beginners, providing a solid foundation in app development.',
      },
      {
        title: 'What will I need to bring to the bootcamp?',
        description:
          'Participants will need to bring a recent MacBook running the latest OS, capable of downloading and running Xcode.',
      },
      {
        title: 'Who will be teaching the bootcamp?',
        description:
          'Our instructors are iOS developers from the Georgia Tech iOS Club. They have experience as Apple SWE interns and have taught other college students how to build apps.',
      },
      {
        title: 'Post-Bootcamp Support',
        description:
          'Participants will have access to a Discord channel where they can reach out for help and support from instructors and peers even after the bootcamp ends.',
      },
      {
        title: 'How do I pay for the bootcamp?',
        description:
          'Payment details will be provided during the enrollment process. We accept various payment methods including credit cards and online payments.',
      },
      {
        title: 'Are there any scholarships or financial aid options available?',
        description:
          'Yes, we offer a limited number of scholarships for students who demonstrate financial need. For more information, please email futureappsacademy@gmail.com.',
      },
      {
        title: 'What kind of projects will we be working on?',
        description:
          'Participants will work on beginner-friendly projects designed to teach the fundamentals of app development. By the end of the bootcamp, students will have a basic app they can continue to develop.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Students', amount: '500+' },
      { title: 'Instructors', amount: '100+' },
      { title: 'Impact', amount: 'Invaluable' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Enroll Today',
        href: 'https://aqv0dow2vek.typeform.com/to/fDDDgSPV',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Future Apps Academy</span>
    </Fragment>

    <Fragment slot="subtitle"> Join us today to get started on your app development journey! </Fragment>
  </CallToAction>
</Layout>
